In [143]:
import pandas as pd
import numpy as np
path  = "/Users/chaupham/minhchau/C/plant_genetics_visualization/"

In [144]:
def filter_x(x, base, conditions, thres):
    for c in conditions:
        
        tmp = np.log2(x[c]/(x[base]+0.000001) )
        if not (thres*(-1) < tmp < thres):
            return 0
    return 1


# def filter_pairwise(x,conditions):
#     for c in conditions:
#         base = c.replace("s1", "wt")
        
#         tmp = np.log2(x[c]/(x[base]+0.000001) )
#         if not (-0.5 < tmp < 0.5):
#             return 0
        
#     return 1
            
        
def filter_low_cpm(row, conditions):
    tmp = np.sum(row[conditions] >= 1) ## every col >= 1 (cpm);   tmp = sum ([true, true, false,...])
    if tmp >= 2:
        return 1
    else:
        return 0

In [145]:
df = pd.read_csv(path + "data/data_ALL_raw_sorted_by_wthp6Norm.csv")
df.head()

,atID,wthp6,wtlp6,wthp5,wtlp5,wtal,wtfe,s1hp6,s1lp6,s1hp5,s1lp5,s1al,s1fe
0,AT1G04517,0.0,0.000000,0.00000,0.023506,1.182597,0.980215,0.000000,0.000000,0.052534,0.142763,2.846669,1.991801
1,AT1G08763,0.0,0.016300,0.00000,0.000000,0.167247,0.723834,0.000000,0.018525,0.000000,0.047022,1.683942,0.588238
2,AT1G13490,0.0,0.060885,0.08061,0.119745,1.216787,0.422145,0.053176,0.000000,0.000000,0.000000,1.476088,0.049795
3,AT1G20860,0.0,0.458795,0.00000,0.000000,0.140298,0.046848,0.000000,1.287837,0.000000,0.166699,0.068845,0.000000
4,AT1G21850,0.0,0.000000,0.00000,0.024245,0.487422,0.278521,0.000000,0.000000,0.000000,0.069259,1.539135,0.171164

In [132]:
df.shape

(20450, 13)

In [133]:
df.columns

Index(['atID', 'wthp6', 'wtlp6', 'wthp5', 'wtlp5', 'wtal', 'wtfe', 's1hp6',
       's1lp6', 's1hp5', 's1lp5', 's1al', 's1fe'],
      dtype='object')

In [134]:
thres = 0.5
df["wt_low_log2fold"] = df.apply(lambda x: filter_x(x, "wthp6", ['wtlp6', 'wthp5', 'wtlp5', 'wtal', 'wtfe'], thres),1)
# df["s1_filter"] = df.apply(lambda x: filter_x(x, "s1hp6", ['s1lp6', 's1hp5', 's1lp5', 's1al', 's1fe']),1)
# df["pairwise_filter"] = df.apply(lambda x: filter_pairwise(x, ["s1hp6", 's1lp6', 's1hp5', 's1lp5', 's1al', 's1fe']),1)

/Users/chaupham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log2
  after removing the cwd from sys.path.

In [135]:
df["wt_low_log2fold"].value_counts()

1    11721
0     8729
Name: wt_low_log2fold, dtype: int64

In [136]:
data_raw_full_cols = pd.read_csv("/Users/chaupham/Downloads/transcriptome_cpm_all_expressed_genes.csv")
data_raw_full_cols.columns

Index(['atID', 'wthp6', 'wthp6_2', 'wtlp6', 'wtlp6_2', 'wthp5', 'wthp5_2',
       'wtlp5', 'wtlp5_2', 'wtal', 'wtal_2', 'wtfe', 'wtfe_2', 'stop1hp6',
       'stop1hp6_2', 'stop1lp6', 'stop1lp6_2', 'stop1hp5', 'stop1hp5_2',
       'stop1lp5', 'stop1lp5_2', 'stop1al', 'stop1al_2', 's1fe', 's1fe_2'],
      dtype='object')

In [137]:
condition_cols_full = ['wthp6', 'wthp6_2', 'wtlp6', 'wtlp6_2', 'wthp5', 'wthp5_2',\
       'wtlp5', 'wtlp5_2', 'wtal', 'wtal_2', 'wtfe', 'wtfe_2']

data_raw_full_cols["filter_low_cpm"] = data_raw_full_cols.apply(lambda x: filter_low_cpm(x, condition_cols_full),1)

In [138]:
df = pd.merge(df, data_raw_full_cols[["atID", "filter_low_cpm"]], on="atID", how="inner")
df.head()

,atID,wthp6,wtlp6,wthp5,wtlp5,wtal,wtfe,s1hp6,s1lp6,s1hp5,s1lp5,s1al,s1fe,wt_low_log2fold,filter_low_cpm
0,AT1G04517,0.0,0.000000,0.00000,0.023506,1.182597,0.980215,0.000000,0.000000,0.052534,0.142763,2.846669,1.991801,0,1
1,AT1G08763,0.0,0.016300,0.00000,0.000000,0.167247,0.723834,0.000000,0.018525,0.000000,0.047022,1.683942,0.588238,0,0
2,AT1G13490,0.0,0.060885,0.08061,0.119745,1.216787,0.422145,0.053176,0.000000,0.000000,0.000000,1.476088,0.049795,0,0
3,AT1G20860,0.0,0.458795,0.00000,0.000000,0.140298,0.046848,0.000000,1.287837,0.000000,0.166699,0.068845,0.000000,0,0
4,AT1G21850,0.0,0.000000,0.00000,0.024245,0.487422,0.278521,0.000000,0.000000,0.000000,0.069259,1.539135,0.171164,0,0

In [139]:
df["wt_low_log2fold"].value_counts()

1    11721
0     8729
Name: wt_low_log2fold, dtype: int64

In [140]:
df["filter_low_cpm"].value_counts()

1    20056
0      394
Name: filter_low_cpm, dtype: int64

In [141]:
df[["atID", "wt_low_log2fold", "filter_low_cpm"]]\
    .to_csv(path +"data/filter_nonexpressed.csv", index=False)

In [147]:
s1_ecker_target = pd.read_csv(path + "/data/STOP1_targets_EckerLab.csv")
s1_ecker_target

           atID
0     AT1G01020
1     AT1G01180
2     AT1G01190
3     AT1G01490
4     AT1G01530
...         ...
1274  AT5G66850
1275  AT5G67060
1276  AT5G67180
1277  AT5G67420
1278  AT5G67470

[1279 rows x 1 columns]

In [149]:
s1_ecker_target= s1_ecker_target[s1_ecker_target.atID.isin(df.atID)]
s1_ecker_target.shape

(896, 1)

In [150]:
s1_ecker_target.to_csv(path + "/data/STOP1_targets_EckerLab_filter.csv", index=False)

In [151]:
Transcription_factors = pd.read_csv(path + "/data/Transcription_factors.csv")
Transcription_factors.shape

(1205, 2)

In [153]:
Transcription_factors.head()

      TF_EXP      TF_DE
0  AT3G25730  AT1G25560
1  AT1G68840  AT1G01720
2  AT1G13260  AT1G05710
3  AT1G25560  AT1G05805
4  AT1G01260  AT1G09530

In [154]:
Transcription_factors= Transcription_factors[Transcription_factors.TF_EXP.isin(df.atID)]
Transcription_factors.shape

(1205, 2)