In [25]:
import pandas as pd
import numpy as np
path  = "/Users/chaupham/minhchau/C/plant_genetics_visualization/"

In [3]:
df = pd.read_csv(path + "data/data_ALL_raw_sorted_by_wthp6Norm.csv")
df.head()

,atID,wthp6,wtlp6,wthp5,wtlp5,wtal,wtfe,s1hp6,s1lp6,s1hp5,s1lp5,s1al,s1fe
0,AT1G04517,0.0,0.000000,0.00000,0.023506,1.182597,0.980215,0.000000,0.000000,0.052534,0.142763,2.846669,1.991801
1,AT1G08763,0.0,0.016300,0.00000,0.000000,0.167247,0.723834,0.000000,0.018525,0.000000,0.047022,1.683942,0.588238
2,AT1G13490,0.0,0.060885,0.08061,0.119745,1.216787,0.422145,0.053176,0.000000,0.000000,0.000000,1.476088,0.049795
3,AT1G20860,0.0,0.458795,0.00000,0.000000,0.140298,0.046848,0.000000,1.287837,0.000000,0.166699,0.068845,0.000000
4,AT1G21850,0.0,0.000000,0.00000,0.024245,0.487422,0.278521,0.000000,0.000000,0.000000,0.069259,1.539135,0.171164

In [4]:
df.shape

(20450, 13)

In [27]:
def filter_x(x, base, conditions):
    for c in conditions:
        
        tmp = np.log2(x[c]/(x[base]+0.000001) )
        if not (-0.5 < tmp < 0.5):
            return 0
        
    return 1


def filter_pairwise(x,conditions):
    for c in conditions:
        base = c.replace("s1", "wt")
        
        tmp = np.log2(x[c]/(x[base]+0.000001) )
        if not (-0.5 < tmp < 0.5):
            return 0
        
    return 1

In [28]:
df.columns

Index(['atID', 'wthp6', 'wtlp6', 'wthp5', 'wtlp5', 'wtal', 'wtfe', 's1hp6',
       's1lp6', 's1hp5', 's1lp5', 's1al', 's1fe', 'wt_filter', 's1_filter',
       'pairwise_filter', 'wt_filter_strict'],
      dtype='object')

In [29]:
df["wt_filter"] = df.apply(lambda x: filter_x(x, "wthp6", ['wtlp6', 'wthp5', 'wtlp5', 'wtal', 'wtfe']),1)
df["s1_filter"] = df.apply(lambda x: filter_x(x, "s1hp6", ['s1lp6', 's1hp5', 's1lp5', 's1al', 's1fe']),1)
df["pairwise_filter"] = df.apply(lambda x: filter_pairwise(x, ["s1hp6", 's1lp6', 's1hp5', 's1lp5', 's1al', 's1fe']),1)

/Users/chaupham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log2
  after removing the cwd from sys.path.
/Users/chaupham/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: RuntimeWarning: divide by zero encountered in log2
  from ipykernel import kernelapp as app

In [30]:
df.tail()

,atID,wthp6,wtlp6,wthp5,wtlp5,wtal,wtfe,s1hp6,s1lp6,s1hp5,s1lp5,s1al,s1fe,wt_filter,s1_filter,pairwise_filter,wt_filter_strict
20445,AT5G66380,17.215333,16.948428,15.229273,15.377075,14.883232,14.975824,17.073353,16.797449,14.649370,16.661307,15.082189,12.712945,1,1,1,1
20446,AT5G66640,1.323729,0.808768,0.736402,0.666287,1.237420,0.891139,0.815704,1.004593,0.548712,0.726715,0.963309,0.765640,0,0,0,0
20447,AT5G66720,64.304656,60.699085,59.242187,57.253666,52.716849,49.335047,59.183538,62.706344,59.043029,52.729012,52.563715,47.810998,1,1,1,1
20448,AT5G67350,11.995804,8.212243,10.418049,8.271745,7.787054,5.513110,11.347253,9.260492,9.816155,9.556615,8.541326,6.161888,0,0,1,1
20449,ATMG01200,0.839802,0.763675,0.222463,0.145468,0.212216,0.373244,0.291520,0.279075,0.217147,0.187238,0.417028,0.121369,0,0,0,0

In [31]:
df["wt_filter"].value_counts()

1    11721
0     8729
Name: wt_filter, dtype: int64

In [32]:
df["s1_filter"].value_counts()

0    10498
1     9952
Name: s1_filter, dtype: int64

In [33]:
df["pairwise_filter"].value_counts()

1    11482
0     8968
Name: pairwise_filter, dtype: int64

In [34]:
# def filter_x_strict_(x, _class, conditions):
#     tmp = np.sum(x[conditions] > 2) ## every col > 2 (in count per million) => Non-NonExp
#     if tmp == 5 and x[_class+"_filter"]: 
#         return 1
#     else:
#         return 0

In [35]:
def filter_x_strict(row, conditions):
    tmp = np.sum(row[conditions] >= 1) ## every col >= 1 (cpm);   tmp = sum ([true, true, false,...])
    if tmp >= 2:
        return 1
    else:
        return 0

In [36]:
df["wt_filter_strict"] = df.apply(lambda x: filter_x_strict(x, \
                                                            ['wtlp6', 'wthp5', 'wtlp5', 'wtal', 'wtfe']),1)

In [37]:
df["wt_filter_strict"].value_counts()

1    19520
0      930
Name: wt_filter_strict, dtype: int64

In [38]:
df[["atID", "wt_filter", "s1_filter", "pairwise_filter", "wt_filter_strict"]]\
    .to_csv(path +"data/filter_nonexpressed.csv", index=False)